@using ITAssetTracker.MVC.Models.Asset
@model AssetForm
@{
	ViewData["Title"] = "Add New Asset";

	if(TempData["Error"] != null)
	{
		<div>
			@TempData["Error"];
		</div>
	}
}

<div class="form-container container-fluid shadow bg-light.bg-gradient">
	<h1>@ViewData["Title"]</h1>

	<form asp-controller="Asset" asp-action="Create" method="post">

		@Html.AntiForgeryToken()
		<div class="mb-3">
			<label asp-for="Tag" class="form-label">Tag:</label>
			<input type="text" class="form-control" placeholder="12345" asp-for="Tag">
			</div>
			<div class="mb-3">
				<label asp-for="Name" class="form-label">Name:</label>
				<input type="text" class="form-control" placeholder="Asset name here..." asp-for="Name">
				</div>
				<div class="mb-3">
					<label asp-for="ModelId" class="form-label">Model:</label>
					<select class="form-select" aria-label="Default select example" asp-for="ModelId">
						<option selected>Select the asset model</option>

						@foreach (var m in Model.ModelsList)
						{
							<option value="@m.ModelId">@m.Name</option>
						}

					</select>
				</div>
				<div class="mb-3">
					<label asp-for="Description" class="form-label">Description:</label>
					<input type="text" class="form-control" id="" placeholder="" asp-for="Description">
					</div>
					<div class="d-grid gap-2 d-md-block">
						<button type="submit" class="btn btn-primary">Save</button>
						<a asp-controller="Asset" asp-action="Index" class="btn btn-secondary">Cancel</a>
					</div>
				</form>
</div>

